<h1>History of Property Changes</h1>

<p>
  The below example shows how you might capture the history of a property's values over time. In this specific case, a value is emitted at most every 300 milliseconds.
</p>

{{#docs-demo as |demo|}}
  {{#demo.example name='prop-history-cookbook.hbs'}}
    {{docs/cookbook/prop-history/example}}
  {{/demo.example}}

  {{demo.snippet 'prop-history-example.js'}}
  {{demo.snippet 'prop-history-example.hbs'}}
{{/docs-demo}}
