<h1>Counting Property Changes</h1>

{{#docs-demo as |demo|}}
  {{#demo.example name='count-prop-changes-cookbook.hbs'}}
    {{docs/cookbook/count-prop-changes/example}}
  {{/demo.example}}

  {{demo.snippet 'count-prop-changes-example.js'}}
  {{demo.snippet 'count-prop-changes-example.hbs'}}
{{/docs-demo}}