{{! BEGIN-SNIPPET prop-history-example.hbs }}
<input
  value={{value}}
  placeholder="Type some stuff"
  oninput={{action (mut value) value='target.value'}}
/>

<ol>
  {{#each valueHistory as |value|}}
    <li>{{value}}</li>
  {{/each}}
</ol>
{{! END-SNIPPET }}